body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f3f4f6;
  color: #333;
}

header {
  background: linear-gradient(to right, #2563eb, #7c3aed);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

button {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #059669;
  transform: scale(1.05);
  transition: 0.2s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 20px 40px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #10b981;
}
.about {
  padding: 60px 20px;
  text-align: center;
  background: white;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
  color: #555;
}

.card:hover {
  transform: translateY(-20px) scale(1.03);
  box-shadow: 0 20px 30px rgba(0,0,0,0.25);
}

.logo:hover {
  color: #10b981;
  transition: 0.3s;
}
.skills {
  padding: 60px 20px;
  text-align: center;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  background: #111827;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.skill:hover {
  background: #10b981;
  transform: scale(1.1);
}